.PagesWrapper {
    margin: 100px auto;
    max-width: 1000px;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    box-shadow: 0 0 20px 8px #d0d0d0;
    border: none;
}

.Title {
    display: inline-block;
    border-bottom: 4px solid black;
}

.Content, .Title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}