.EditPagesWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.EditPagesTitle {
    text-align: center;
}

.EditPagesWrapper label {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.EditPagesWrapper select, label {
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
}

.EditPagesWrapper input, textarea {
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
    resize: none;
}
