body {
    background: #f2f2f2;
}

.StaticPageWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.StaticPageWrapper__list a li {
    display: inline-block;
    list-style: none;
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
    transition: all .3s linear;
    border-bottom: 5px solid transparent;
}

.StaticPageWrapper__list a li::after{
    content: "";
    display: inline-block;
    height: 25px;
    margin-left: 13px;
    border-right: 4px solid #423189;
    position: relative;
    top: 5px;
    transform: rotate(10deg);
}

.StaticPageWrapper__list a:last-child li::after{
    content: "";
    display: inline-block;
    height: 30px;
    border-right: none;
    margin-left: 10px;
}

.StaticPageWrapper__list a li:hover {
    border-bottom-color: #423189;
}


.StaticPageWrapper__list a:last-child {
    color: black;
}
